
LEAF_CAPACITY=16
BUFFER_CAPACITY=16

# https://media.githubusercontent.com/media/pravinpoudel/LAZ-COPC-Converter/main/morro_20m-reprojected.copc.laz

# https://media.githubusercontent.com/media/pravinpoudel/LAZ-COPC-Converter/main/u_campus_30m.copc.laz
# https://media.githubusercontent.com/media/sceneserver/copc/main/naarden-vesting.copc.laz
# https://hobu-lidar.s3.amazonaws.com/sofi.copc.laz
P_CACHE = "cache-holder"
P_CACHE_CAPACITY = 150

COPC_FILE= "https://media.githubusercontent.com/media/sceneserver/copc/main/naarden-vesting.copc.laz"
LAS_FILES="dataset/las/09KD9817.las"

POINT_CLOUD_FILES=["dataset/las/09KD9817.las"]

# POINT_CLOUD_FILES=[
#   "https://media.githubusercontent.com/media/sceneserver/copc/main/naarden-vesting.copc.laz", 
#   "dataset/las/09KD9817.las",
#   "dataset/las/DTM_20cm.las",
#   "dataset/laz/200406_100502_Sample.laz",
#   "dataset/tif/09KD9816.tif",
#   "dataset/xyz/A1_20220512.xyz",
# ]
